a:link, a:visited {
    width: 70px;
    border-radius:25px;
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  button{
    cursor: pointer;
    width: 150px;
    border-radius:25px;
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  button:hover{
    background-color: red; 
  }
  
  a:hover, a:active {
    background-color: red;
  }

  .content {
    margin:300px;
    text-align: center;
  }